# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [3]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [4]:
# Check
lesser_of_two_evens(2,4)

2

In [5]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [13]:
def animal_crackers(text):
    splitWords = text.split()
    return splitWords[0][0] == splitWords[1][0]

#Improvements
#Does not work with differences in case.
#Enforce all chars to be lower case before checking

In [14]:
# Check
animal_crackers('Levelheaded Llama')

True

In [15]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [16]:
def makes_twenty(n1,n2):
    return (n1==20 or n2==20) or n1+n2==20

In [17]:
# Check
makes_twenty(20,10)

True

In [18]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [68]:
def old_macdonald(name):
    output = ''
    for x in range(len(name)):
        if x == 0 or x == 3:
            output += name[x].upper()
        else:
            output += name[x]
    return output

def improved_old_macdonald(name):
    firstHalf = name[:3]
    secondHalf = name[3:]
    
    return firstHalf.capitalize() + secondHalf.capitalize()

In [69]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [70]:
improved_old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [35]:
def master_yoda(text):
    splitWords = text.split()
    backward = splitWords[::-1]
    return ' '.join(backward)

In [36]:
# Check
master_yoda('I am home')

'home am I'

In [37]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [72]:
def almost_there(n):
    if abs(n-100) < 11:
        return True
    if abs(n-200) < 11:
        return True
    else:
        return False

#Improved
'''
def almost_there(n):
    return (abs(n-100) < 11) or (abs(n-200) < 11) 
'''

'\ndef almost_there(n):\n    return (abs(n-100) < 11) or (abs(n-200) < 11) \n'

In [45]:
# Check
almost_there(110)

True

In [43]:
# Check
almost_there(150)

False

In [44]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [46]:
def has_33(nums):
    prevNum = None
    for x in nums:
        if x == 3 and prevNum == 3:
            return True
        else:
            prevNum = x
    return False

In [47]:
# Check
has_33([1, 3, 3])

True

In [48]:
# Check
has_33([1, 3, 1, 3])

False

In [49]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [50]:
def paper_doll(text):
    output = ''
    for x in text:
        output += x*3
    return output

In [51]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [52]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [77]:
def blackjack(a,b,c):
    tot = sum([a,b,c])
    if 11 in [a,b,c]:
        tot -= 10
    if tot <= 21:
        return tot
    else:
        return 'BUST'

In [78]:
# Check
blackjack(5,6,7)

18

In [79]:
# Check
blackjack(9,9,9)

'BUST'

In [80]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [63]:
def summer_69(arr):
    tot = 0
    flag = 0
    for x in arr:
        if x == 6:
            flag = 1
        if x == 9:
            flag = 0
            continue
        if flag == 0:
            tot += x
    return tot

In [64]:
# Check
summer_69([1, 3, 5])

9

In [65]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [66]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [67]:
def spy_game(nums):
    x0 = None
    x1 = None
    for x2 in nums:
        if x0 == 0 and x1 == 0 and x2 == 7:
            return True
        else:
            x0 = x1
            x1 = x2
    return False

In [68]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [69]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [70]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [49]:
def count_primes(num):
    primes = [2, 3]
    for x in range(num+1):
        if x <= 3:
            continue
        for y in primes:
            if x%y == 0:
                break
            if y == primes[-1]:
                primes.append(x)
    print(len(primes))

In [57]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [66]:
def print_big(letter):
    letter = letter.lower()
    letters = {'a':'  *  \n * * \n*****\n*   *\n*   *',
               'b':'**** \n*   *\n**** \n*   *\n**** ',
               'c':' *** \n*    \n*    \n*    \n *** '}
    print(letters[letter])

In [67]:
print_big('c')

 ***
*
*
*
 ***

## Great Job!